<header class="header">

  <div class="portal-header">
    <div class="container portal-header-inner">
      {{ page.header }}

      <button
        class="button button-tertiary button-menu-open js-menu-open ml-auto d-print-none"
        aria-haspopup="menu" title="{{ 'Åben mobil menu' | trans }}">
        Menu
      </button>

      <div class="portal-info">
        {{ page.secondary_menu }}
      </div>
    </div>
  </div>

  <div class="overlay"></div>

  <nav class="nav">
    <button
      class="button button-secondary button-menu-close js-menu-close"
      title="Luk mobil menu">
      <svg class="icon-svg " focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      {{ 'Luk' | trans }}
    </button>
    <div class="navbar navbar-primary">
      <div class="navbar-inner container">
        {{ page.primary_menu }}
      </div>
    </div>
    <!-- 3: Main navigation end-->

    <div class="portal-info-mobile">
      <p class="user bold">Ida Ester Petersen</p>
      <a href="#"
         class="button button-secondary button-signout alert-leave">
        Log af
      </a>
    </div>

    <div class="solution-info-mobile">
      <p class="h5 authority-name">Myndighedsnavn</p>
      <p>Support: 12 34 56 78 · <a href="#"
                                   class="icon-link function-link alert-leave">Kontakt
          <svg class="icon-svg" aria-hidden="true" focusable="false">
            <use xlink:href="#open-in-new"></use>
          </svg>
        </a>
      </p>
    </div>

  </nav>
</header>

{{ page.featured_top }}

<div class="container page-container">
  <div class="row">
    <div class="col-12">
      {{ page.breadcrumb }}
    </div>
  </div>
  <div class="row">
    {#  Wayaround for determining visibility for regions with lazybuilder.
    @See https://www.drupal.org/project/drupal/issues/953034 for more info. #}
    {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}
    {% set has_sidebar_second = page.sidebar_second|render|striptags|trim is not empty %}
    {% if has_sidebar_first %}
      <aside class="col-12 col-lg-3 sidebar-col">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% set content_classes = [
      has_sidebar_first and has_sidebar_second ? 'col-12 col-lg-6',
      has_sidebar_first and has_sidebar_second is empty ? 'col-12 col-lg-9',
      has_sidebar_second and has_sidebar_first is empty ? 'col-12 col-lg-9',
      has_sidebar_first is empty and has_sidebar_second is empty ? 'col-12 col-lg-12'
    ] %}
    <main {{ content_attributes.addClass(content_classes) }}>
      {{ page.content }}
    </main>

    {% if has_sidebar_second %}
      <aside class="col-12 col-lg-3 sidebar-col">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </div>
</div>

{{ page.featured_bottom_first }}

{% include '@fds_base_theme/includes/footer.html.twig' %}
